footer {
    padding: 1rem;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0%;
    width: 100%;
}

footer i {
    font-size: 28px;
    color: white;
}

footer .github{
    margin-left: 1rem;
    border: 1px solid #4F5560;
    backdrop-filter: blur(25px);
    background-color: #4f556054;
    padding: 12px 14px;
    border-radius: 5px;
    align-items: center;
    gap: 1rem;
    font-size: 12px;
    display: flex;
 
}
footer .github i,
footer .github a {
    text-decoration: none;
    font-weight:600;
    color: #a597ff;
}