@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swa');

*{
    margin: 0;
    padding: 0;
    border: 0;
    color: #dfdfdf;
    font-family: 'Radio Canada';

    
}
